body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre les pavés horizontalement */
    min-height: 100vh;
    align-items: center; /* Centre les pavés verticalement si la hauteur de body est définie */
    gap: 10px;
    background-color: #2A2838;
    margin: 0 15px 0 15px;
    padding: 0;
    font-family: "Pixelify Sans", serif;
    font-weight: thin;
}






header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.5em; 
    color: #EFBCE6;
    margin: 0 0 5px 15px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.boutons-menu {
    display: flex;
    gap: 0px;
    padding: 0;
    margin: 0 5px 0 0;
}

#boutonreduire, #boutonfermer {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.);
    width: 45%;
    cursor: pointer;
}







.div-body {
    width: 92%;
    border: 2px solid #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}







#div-todolist {
    background-image: url("images/PartieToDo.jpg");
    background-size: cover;
    background-position: bottom;
    height: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
    padding: 7px 0 0 0;
}

#all-tasks-div {
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#addbutton-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;  /* Position absolue pour pouvoir déplacer le bouton */
    /*bottom: 0;  /* Le bouton se place en bas une fois qu'on clique */
}

#addTaskButton {
    background-color: #E1B6E8;
    border: solid 1px;
    font-family: "Pixelify Sans", serif;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#addTaskButton:hover {
    background-color: #F4DDF7; 
    transform: scale(1.02);
}

.divPremiereTache {
    display: flex;
    align-items: center; /* Aligne le texte et l'image verticalement */
    padding: 0px;
    margin: 0;
    border: none;
}

.imageToDo {
    margin-right: 5px;
}


.espaceTexteToDo {
    width: 65vw; /* Remplir la largeur disponible */
    height: 22px; /* Hauteur du textarea */
    background-color: transparent; /* Fond transparent */
    border: none; /* Pas de bordure */
    resize: none; /* Désactive la redimension du textarea */
    font-size: 12px;
    font-family: "Pixelify Sans", serif; 
}







#div-notes {
    background-image: url("images/PartieNotes.jpg");
    background-size: cover;
    height: 100px;
    display: flex;
    flex-direction: column; /* Empile les enfants verticalement */
    align-items: center; /* Centre le textarea */
    justify-content: center; /* Centre verticalement dans le div */
    gap: 0;
}

.notes {
    align-self: flex-start; /* Aligne le h4 à gauche */
    margin: 0 0 0 10px;
    padding: 0;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    font-weight: 100;
}

#espace-notes {
    width: 75vw;
    height: 65px;
    background-color: transparent; /* Fond transparent */
    border: 1.3px dotted black; /* Bordure en pointillés noirs */
    resize: none;
    outline: none;
    font-family: "Pixelify Sans", serif;
    font-weight: 500;
    margin: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 11px;
}
